@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 10px 15px;
  position: relative;
  width: auto;
  height: 400px;
}

.slick-slide > div:hover {
  transform: scale(1.02); /* Contoh efek zoom saat hover */
  transition: transform 0.3s ease; /* Animasi perubahan saat hover */
}

/* In a CSS file or using a className */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Animasi untuk Slide 1 */
.slide-1-animation {
  /* Atur animasi atau transform untuk slide 1 di sini */
  /* Misalnya: */
  animation: fadeIn 1s ease-in-out;
}

/* Animasi untuk Slide 2 */
.slide-2-animation {
  /* Atur animasi atau transform untuk slide 2 di sini */
  /* Misalnya: */
  animation: slideInFromLeft 1s ease-in-out;
  opacity: 0; /* Untuk slide yang akan muncul */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
